[package]
name = "talk"
version = "0.1.0"
edition = "2024"


[dev-dependencies]
ctor = "0.4.2"

[dependencies]
clap = { version = "4.5.39", features = ["derive"], optional = true }
lazy_static = "1.5.0"
log = "0.4.27"
env_logger = "0.11.8"

[features]
#default = ["cli"]
cli = ["dep:clap"]
