<html>
  <meta charset="utf-8">
  <meta content="text/html" charset="UTF-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
    <link href="/reset.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <link href="https://unpkg.com/tippy.js@6.3.7/dist/tippy.css" rel="stylesheet">
  </head>
  <body>
    <main>
      <header>
        <h1><code>print(<span class="string">"hi, it’s talktalk"</span>)</code></h1>

        <div class="intro">
          <code class="intro-txt">
            We’ve got <span class="type" title="struct Person {
  let name: String
  let age: Int
}">structs</span>, <span class="string" title="&quot;hello there&quot;">strings</span>, <span
class="number" title="1000">ints</span>, <span class="number" title="1.23">floats</span>, <span class="type" title="enum Unit {
	case yard(Int)
	case meter(Int)
}">enums</span>,
						<span class="function" title="effect log<T: Showable>(t: T) {
	print(t)	
	'continue
}">effects</span>, <span class="keyword" title="true
false">bools</span>, <span
              class="parameter" title="(123, true, &quot;hello&quot;)">tuples</span>,
            <span class="type" title="[1, 2, 3]">arrays</span>, <span class="string" title="'a'
'\n'">chars</span>,
						<span class="type" title="{ a: 123, b: &quot;sup&quot; }">records</span>, and
						<span class="function" title="func fizz() {
	print(&quot;BUZZ&quot;)
}
fizz()">functions</span>.
          </code>
          <div class="intro-code">
            <pre>struct Person {
  let name: String
  let age: Int
}</pre>
          </div>

        </div>
      </header>
      {CONTENT_GOES_HERE}
      <script src="https://unpkg.com/@popperjs/core@2"></script>
      <script src="https://unpkg.com/tippy.js@6"></script>
      <script type="module" src="/page.js"></script>
    </main>
  </body>
</html>
