<html>
  <meta charset="utf-8">
  <meta content="text/html" charset="UTF-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
    <link href="/reset.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <link href="https://unpkg.com/tippy.js@6.3.7/dist/tippy.css" rel="stylesheet">
  </head>
  <body>
    <main>
      <header>
        <h1><code>print(<span class="string">"hi, it’s talktalk"</span>)</code></h1>

        <div class="intro">
          <code class="intro-txt">
            We’ve got <span class="type" data-example="structs">structs</span>, <span class="string" data-example="strings">strings</span>, <span
class="number" data-example="ints">ints</span>, <span class="number" data-example="floats">floats</span>, <span class="type" data-example="enums">enums</span>,
						<span class="function" data-example="effects">effects</span>, <span class="keyword" data-example="bools">bools</span>, <span
              class="parameter" data-example="tuples">tuples</span>,
            <span class="type" data-example="arrays">arrays</span>, <span class="string" data-example="chars">chars</span>,
						<span class="type" data-example="records">records</span>, and
						<span class="function" data-example="functions">functions</span>.
          </code>
          <div class="intro-code">
            <pre></pre>
          </div>

        </div>
      </header>
      {CONTENT_GOES_HERE}
      <script src="https://unpkg.com/@popperjs/core@2"></script>
      <script src="https://unpkg.com/tippy.js@6"></script>
      <script type="module" src="/page.js"></script>
    </main>
  </body>
</html>
