<html>
  <meta charset="utf-8">
  <meta content="text/html" charset="UTF-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>talktalk - {TITLE}</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link href="/reset.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
{GLOBAL_NAV}
    <main class="content-page">
      <header class="page-header">
        <code class="page-kicker">talktalk / {SLUG}</code>
        <h1>{TITLE}</h1>
      </header>
      <article class="page-content">
        {CONTENT_GOES_HERE}
      </article>
      <script type="module" src="/page.js"></script>
    </main>
  </body>
</html>
